.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: #f0f3f6;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 0;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
}