.reset {
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: #272b23;
  border: 1px solid #f0f3f6;
  color: #f0f3f6;
  cursor: pointer;
}

.reset:hover {
  background-color: #525964;
  border: 1px solid #bdc4cc;
}