.square {
	width: 94px;
	height: 94px;
	background-color: #1c1c1c;
	color: #f0f3f6;
	border: 1px solid #f0f3f6;
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.square:focus {
	outline: none;
}

@media screen and (min-width: 480px) {
	.square {
		width: 128px;
		height: 128px;
		font-size: 5rem;
	}
}