/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #0a0c10;
  color: #f0f3f6;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #0a0c10;
  color: #f0f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
}